{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="container px-4 justify-content-center" style="height: 80%; margin-top: 5%;">
    <div class="row rounded bg-dark text-white p-4 ">
        <div class="rounded-3 col p-3" style="">
            <form action="" method="post">
                {% csrf_token %}
                <h4 class="row border-bottom border-white p-3">Your Playlists:</h4>
                {% for playlist in playlists %}
                    <div class="row align-items-center">
                        <div class="col my-1 p-2 rounded bg-success border-bottom border-white">
                            <img src="{{ playlist.images.0.url }}" class="img-fluid col-4 " style="" alt="">
                            <p class="col-8 h5" style="margin-top: auto; margin-bottom: auto;"><b>{{ playlist.name }}</b></p>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-dark" value="{{ playlist.uri }}" id="playlisturi" name="playlisturi">Select</button>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
     
</section>

<script type="text/javascript">


    document.getElementById("formdata").addEventListener("submit", function(e){
        e.preventDefault();
        //var url = '/'
        var uri = document.activeElement.value;
        console.log(uri)
        document.getElementById("formdata").style.display = "none";
        document.getElementById("spinner").style.display = "inline";
        
        const formData = new FormData();
        
        //console.log(name);
        formData.append('songuri', uri);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch('{% url "sortsongs" %}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            document.getElementById("results").style.display = "inline";
            document.getElementById("spinner").style.display = "none";
        }).catch(error => {
            console.error('Error:', error);
            console.log("k")
        });
    });
  
</script>

{% endblock %}